@import '../../../../assets/css/common-scss/variable';
.about-section {
    padding: 55px 0;
    background-color: $primaryColor;
    color: #ffffff;
    h2 {
        font-size: 35px;
        color: $mainColor;
        font-weight: bolder;
        margin-bottom: 3.5rem;
        text-transform: uppercase;
    }
    .about-left {
        .about-left-content {
            h3 {
                font-weight: bold;
                margin-bottom: 20px;
            }
            .about-para {
                font-size: 18px;
                font-family: $mainFont;
                padding-right: 30px;
            }
        }
        .about-content {
            margin-top: 35px;
            h3 {
                border-bottom: 2px solid $mainColor;
                font-size: 40px;
                padding-bottom: 1rem;
                font-weight: bolder;
            }
            .content {
                font-size: 18px;
                padding-top: 0.5rem;
                font-family: $mainFont;
            }
        }
    }
    .about-right {
        img {
            height: auto;
            width: 100%;
            object-fit: contain;
            border-radius: 8px;
        }
        .right-content {
            h4 {
                margin-top: 12px;
                font-size: 18px;
            }
        }
    }
    .team-slider {
        margin: 40px 0;
        img {
            height: auto;
            width: 100%;
            object-fit: contain;
            border-radius: 12px;
        }
        .team-img {
            padding: 20px;
        }
    }
    .team-details {
        padding: 100px 0 30px 0;
        h2 {
            margin-bottom: 1rem;
        }
        h3 {
            text-transform: capitalize;
            font-size: 45px;
            text-align: center;
            font-weight: bolder;
            letter-spacing: 3.8px;
        }
    }
}