@import '../../../../assets/css/common-scss/variable';
.banner-section {
    background-image: url(../../../../assets/images/bannerImg.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 80px 0;
    height: 100%;
    min-height: 550px;
    position: relative;
    &::before {
        position: absolute;
        content: "";
        height: 100%;
        width: 100%;
        background: rgba($color: $black, $alpha: 0.7);
        top: 0;
        left: 0;
    }
    h1 {
        color: $mainColor;
        font-size: 35px;
        margin-bottom: 1.5rem;
        font-family: $mainFont;
        letter-spacing: 1.4px;
        font-weight: 700;
    }
    h2 {
        color: #ffffff;
        font-size: 18px;
        font-family: $mainFont;
    }
}

.banner-section-2 {
    background-image: url('../../../../assets/images/detailing2.jpg');
}

.banner-section-3 {
    background-image: url('../../../../assets/images/detailing3.jpg');
}

.banner-section-4 {
    background-image: url('../../../../assets/images/detailing5.jpg');
}